
.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $secondary-color;
  
    }
    
    .card{
       width: 325px; 
       border-color: white;
       align-items: center;       
       margin-left: 100px;
       
      &-img-top{
        margin-top: 20px;      
        height: 238px;
        }&-title{
        text-align: center;
        color: $primary-color;
        font-weight: bold;
        font-size: 17px;
        height: 37px;
        align-items: center;
        display: flex;
      }&-body{
        text-align: center;
      }
     width: 325px; 
     border-color: white;
     align-items: center;
    &-img-top{
      margin-top: 20px;
      object-fit: cover;
    }&-title{
      color: $primary-color;
      font-size: 17px;
      height: 37px;
      align-items: center;
      display: flex;
    }&-body{
      text-align: center;
    }
    }
    
   
    @media (min-width: 768px){
    }
    
    @media (min-width: 1024px){
    .imagens{
      width: 95%
    }
    }
    
    @media (min-width: 1040px){
      .projects{
        margin-top: 50px;
        margin-bottom: 140px;
    
      }
    
    .imagens{
      margin-top: 80px;
      width: 100%;
    }
    }