.gallery{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-item{
    width: 560px;
    height: 315px;
}   
.col-lg-6{
    display: block;
    justify-content: end;
}

@media (max-width: 425px) {
    .gallery{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px
    } 
    .video {
    width: 400px;
    height: 250px;
    }
    .carousel-inner{
    width: 400px;
    height: 250px;
    }
  }

  @media (max-width: 768px) {
    .gallery{
        height: 650px;
        display: flex;
        margin-left: 170px;
        
    } 
    .video {
    width: 450px;
    height: 300px;
    }
    .carousel-inner{
     width: 450px;
     height: 300px;
    }
  }